@page "/about"

<div class="row">


    <div class="col-12 d-flex flex-column align-items-center mt-4">
        <p class="text-center" style="color:#6F1D80;">
            "SIEMPRE EN BÚSQUEDA DEL BALANCE, LA EQUIDAD Y ESTABILIDAD PERSONAL DE LA MUJER"
        </p>

        @* Mision *@
        <div class="container">
            <div class="mb-2 mt-2">
                <img src="/images/about/mision.png" alt="Imagen que representa la misión de la plataforma" class="img-fluid rounded-4 shadow-sm" style="max-width: 100%; max-height: 90%;" />
            </div>


            <p class="text-center">
                "Nuestra misión es proporcionar una plataforma digital segura, confiable y accesible para mujeres, donde puedan encontrar servicios y recursos que les permitan vivir de manera autónoma, segura y empoderada. Nos comprometemos a crear un entorno en línea libre de discriminación, acoso y violencia, donde las mujeres puedan conectarse, compartir experiencias y potencializar sus conocimientos y habilidades."
            </p>

        </div>

        @* vision *@
        <div class="container">

            <div class="mb-4">
                <img src="/images/about/vision.png" alt="Logo de la plataforma" class="img-fluid rounded-4 shadow-sm" />
            </div>



            <p class="text-center">
                "Ser la plataforma digital líder en la provisión de servicios seguros y confiables para mujeres, donde puedan encontrar apoyo, recursos y oportunidades para vivir de manera autónoma, segura y empoderada. Queremos ser el referente en la lucha contra la discriminación y la violencia de género, y trabajar para crear un mundo más justo y equitativo para todas las mujeres.
            </p>
        </div>


        @* Valores *@

        <div class="container text-center">

            <div class="mb-4">
                <img src="/images/about/valores.png" alt="Logo de la plataforma" class="img-fluid rounded-4 shadow-sm" />
            </div>

            <div class="d-flex flex-column align-items-center">
                <p><img src="/images/about/list-icon.png" alt="Icono de lista" class="img-fluid" style="width: 25px; vertical-align: middle;" /> Seguridad y confiabilidad</p>
                <p><img src="/images/about/list-icon.png" alt="Icono de lista" class="img-fluid" style="width: 25px; vertical-align: middle;" /> Respeto y inclusión</p>
                <p><img src="/images/about/list-icon.png" alt="Icono de lista" class="img-fluid" style="width: 25px; vertical-align: middle;" /> Autonomía y empoderamiento</p>
                <p><img src="/images/about/list-icon.png" alt="Icono de lista" class="img-fluid" style="width: 25px; vertical-align: middle;" /> Calidad y excelencia</p>
                <p><img src="/images/about/list-icon.png" alt="Icono de lista" class="img-fluid" style="width: 25px; vertical-align: middle;" /> Colaboración y solidaridad</p>
            </div>



            <img src="/images/about/hands.png" alt="Logo de la plataforma" class="img-fluid " style="margin-top:-15%" />
        </div>




    </div>







</div>