
    <div class="container-fluid px-0">
        <ul class="navbar-nav w-100 justify-content-around">
            <li class="nav-item text-center">
                <a class="nav-link d-flex flex-column align-items-center text-white p-0" href="/">
                <i class="bi bi-house-door"></i>
                    <span style="font-size: 0.65rem;">Inicio</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link d-flex flex-column align-items-center text-white p-0" href="#">
                    <i class="bi bi-search"></i>
                    <span style="font-size: 0.65rem;">Buscar</span>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link d-flex flex-column align-items-center text-white p-0" href="#">
                <i class="bi bi-bell"></i>
                    <span style="font-size: 0.65rem;">Alertas</span>
                </a>
            </li>
            <li class="nav-item text-center">
            <a class="nav-link d-flex flex-column align-items-center text-white p-0" href="/login">
                    <i class="bi bi-person"></i>
                    <span style="font-size: 0.65rem;">Perfil</span>
                </a>
            </li>
        </ul>
    </div>